# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Database
*.db

# Streamlit Cache
.streamlit/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
